<!DOCTYPE html>
<html>
    <head>
        <style>
            html, body{
                margin:0 auto;
                width: 100vw;
                height: 100vh;
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <div id='scrollbox' style='float: left; margin-top: 0px; margin-bottom: 0px;width: 60vw; height: 80vh; overflow: scroll; padding: 10vh;'>
            <canvas id="grid"></canvas>
        </div>
        <div style='float: left; padding: 20px;'>
            
            <br>
            <label for="files">Select a file</label>
            <select name="files" id="files">
                <option value="new">~New~</option>
            </select>
            <br><br>
            <button>Save</button> <button>load</button> <button>rename</button> 
            <br><br>
            <button>Export to file</button> <button>Import from file</button>
            <br><br>

            <label for="x_size">Width:</label>
            <input type="text" id="x_size" name="x_size" size="3" value="40">
            <label for="y_size">Height:</label>
            <input type="text" id="y_size" name="y_size" size="3" value="60">
            <br><br>
            <p>Tools</p>
            <button>Color</button><button>Split</button><button>Select</button>
            <p>Zoom:</p>
            <input type="range" min="11" max="101" value="21" id="zoom" step="10">
        </div>
        


        <script type="text/javascript" language="javascript">
            var sq_w = document.getElementById("x_size").value; // init dims
            var sq_h = document.getElementById("y_size").value;
            var l = 20; // init zoom
            const state = [];

            // CREATE INITIAL STATE
            for (x = 0; x < sq_w; x++){
                let new_arr = [];
                for (y=0;y<sq_h;y++){
                    new_arr.push("#eee");
                }
                state.push(new_arr);
            }
            
            var c_canvas = document.getElementById("grid");
            var context = c_canvas.getContext("2d");


            function draw_grid(){

                context.canvas.width  = sq_w*l + 1;
                context.canvas.height = sq_h*l + 1;

                for (var x = 0; x <= sq_w; x += 1) {
                    context.moveTo(x*l, 0);
                    context.lineTo(x*l, sq_h*l);
                }
                for (var y = 0; y <= sq_h; y += 1) {
                    context.moveTo(0, y*l);
                    context.lineTo(sq_w*l,y*l);
                }

                for (x = 0; x < sq_w; x++){
                    for (y = 0; y < sq_h; y++){
                        context.fillStyle = state[x][y];
                        context.fillRect(x*l, y*l, (x+1)*l, (y+1)*l);
                    }
                }

                //context.moveTo(0,0);
                //context.lineTo(380,380);

                context.strokeStyle = 'rgba(0,0,0,0.3)';
                context.stroke();
            }
            draw_grid();

            // ---------------- Actions ---------------- //
            var scroller = document.getElementById("scrollbox") // get container div for offset

            c_canvas.addEventListener('click', (e) => {

                const pos = {
                    x: Math.floor((e.clientX - c_canvas.offsetLeft + scroller.scrollLeft) / l),
                    y: Math.floor((e.clientY - c_canvas.offsetTop + scroller.scrollTop) / l)
                };
                state[pos.x][pos.y] = "#00aa00";
                draw_grid();
            });

            // ---------------- Tools ---------------- //
            // Change Dims
            var x_input = document.getElementById("x_size");
            x_input.onkeydown = function(e) {
                if(event.key === 'Enter') {
                    if (x_input.value < sq_w){
                        if (confirm("Size is smaller than current, clipping will occur. Ok?") == true) {
                            sq_w = x_input.value;
                        }
                    }else{
                        sq_w = x_input.value;
                    }

                    draw_grid();
                }
            }

            var y_input = document.getElementById("y_size");
            y_input.onkeydown = function(e) {
                if(event.key === 'Enter') {
                    if (y_input.value < sq_h){
                        if (confirm("Size is smaller than current, clipping will occur. Ok?") == true) {
                            sq_h = y_input.value;
                        }
                    }else{
                        sq_h = y_input.value;
                    }
                    draw_grid();
                }
            }

            // Zoom
            var slider = document.getElementById("zoom");
            slider.oninput = function() {
                l = this.value;
                draw_grid()
            }

        </script>
    </body>
</html>